body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

p {
  margin: 10px 0px;
  font-size: 18px;
}

.body-content {
  margin: auto;
  width: 73%;
  max-width: 700px;
  min-width: 350px;
  padding: 5px 15px;
}

.texts {
  line-height: 150%;
}

.title {
  text-align: center;
  font-size: 73px;
  font-weight: bold;
  padding: 15px 15px;
}

.heading {
  font-size: 37px;
  font-weight: bold;
}

.body-content .listed {
  text-align: center;
}

.body-content .listed p{
}

.nav {
  overflow: hidden;
  background-color: #111;
}

.nav a {
  float: left;
  display: block;
  color: #999;
  text-align: center;
  padding: 15px 15px 10px 15px;
  text-decoration: none;
  font-size: 15px;
}

#cog{
  float: right;
}

.nav .active {
  color: white;
}

.nav .icon {
  float: right;
}

.dd {
  float: left;
  overflow: hidden;
}

.dd .dbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: #999;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dd-cont {
  display: none;
  position: absolute;
  background-color: #111;
  width: 120px;
  z-index: 1;
}

.nav a:hover, .dd:hover .dbtn {
  color: white;
}

.dd:hover .dd-cont {
  display: block;
}

#withthose:hover {
  color: #4284ff;
}

#withgrace:hover {
  color: #ff7142;
}

.music-square-list {
  width: 173px;
  padding: 0px 10px 15px 10px;
}

.music-square-list:hover {
  display: inline-block;
  transform: translate(-3px, -3px);
}


#music-square {
  width: 100px;
}

#music-square:hover {
  display: inline-block;
  transform: translate(-2px, -2px);

}
.withthose {
  color: #4284ff;
}

.withthose_pdf {
  color: #4284ff;
  text-decoration: none;
}

.withthose_pdf:visited {
  color: #4284ff;
  text-decoration: none;
}

.withthose_pdf:hover {
  color: #4284ff;
  text-decoration: underline;
}

.withgrace {
  color: #ff7142;
}

.withgrace_pdf:link {
  color: #ff7142;
  text-decoration: none;
}

.withgrace_pdf:visited {
  color: #ff7142;
  text-decoration: none;
}

.withgrace_pdf:hover {
  color: #ff7142;
  text-decoration: underline;
}

.pdf:link {
  color: blue;
  text-decoration: none;
}

.pdf:visited {
  color: blue;
  text-decoration: none;
}

.pdf:hover {
  color: blue;
  text-decoration: underline;
}
