body {
  font-family: Helvetica, sans-serif;
  margin: 0px 0px 73px 0px;
}

p {
  margin: 10px 0px;
  font-size: 18px;
}

.unsb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body-content {
  margin: auto;
  width: 73%;
  max-width: 700px;
  min-width: 391px;
}

.texts {
  line-height: 150%;
}

.title {
  text-align: center;
  font-size: 73px;
  font-weight: bold;
  padding: 51px 15px 37px;
}

.heading {
  font-size: 37px;
  font-weight: bold;
}

.body-content .listed {
  text-align: center;
}

.body-content .listed a{
}

.nav {
  overflow: hidden;
  background-color: #111;
}

.nav a {
  float: left;
  display: block;
  color: #999;
  text-align: center;
  padding: 15px 15px 10px 15px;
  text-decoration: none;
  font-size: 15px;
}

#cog{
  float: right;
}

.nav .active {
  color: white;
}

.nav .icon {
  float: right;
}

.dd {
  float: left;
  overflow: hidden;
}

.dd .dbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: #999;
  background-color: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

.dd-cont {
  display: none;
  position: absolute;
  background-color: #111;
  width: 120px;
  z-index: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav a:hover, .dd:hover .dbtn {
  color: white;
}

.dd:hover .dd-cont {
  display: block;
}

#withthose:hover {
  color: #4284ff;
}

#withgrace:hover {
  color: #ff7142;
}

.music-square-list {
  width: 173px;
  border-radius: 102px;
  padding: 15px
}

.music-square-list:hover {
  display: inline-block;
  transform: translate(-3px, -3px);
}


.music-square {
  width: 100px;
  border-radius: 50px;
}

.music-square:hover {
  display: inline-block;
  transform: translate(-2px, -2px);

}

.music-square-static {
  width: 100px;
  border-radius: 50px;
}

.withthose-soundcloud {
  width: 100px;
  border-radius: 50px;
}

.withthose-soundcloud:hover {
  display: inline-block;
  transform: translate(-1px, -1px);
}

.withgrace-soundcloud {
  width: 100px;
  border-radius: 50px;
}

.withgrace-soundcloud:hover {
  display: inline-block;
  transform: translate(-1px, -1px);
}

.music-square-little {
  width: 73px;
  border-radius: 47px;
  text-decoration:none;
  float: right;
  padding: 10px;
}

.music-square-little:hover {
  display: inline-block;
  transform: translate(-1px, -1px);
}

.withthose {
  color: #4284ff;
}

.withthose_pdf {
  color: #4284ff;
  text-decoration: none;
}

.withthose_pdf:visited {
  color: #4284ff;
  text-decoration: none;
}

.withthose_pdf:hover {
  color: #4284ff;
  text-decoration: underline;
}

.withgrace {
  color: #ff7142;
}

.withgrace_pdf {
  color: #ff7142;
  text-decoration: none;
}

.withgrace_pdf:visited {
  color: #ff7142;
  text-decoration: none;
}

.withgrace_pdf:hover {
  color: #ff7142;
  text-decoration: underline;
}

.pdf:link {
  color: blue;
  text-decoration: none;
}

.pdf:visited {
  color: blue;
  text-decoration: none;
}

.pdf:hover {
  color: blue;
  text-decoration: underline;
}

.ver {
  display: none;
}

.ref:hover + .ver {
  display: inline;
  font-weight: bold;
}

